body{
  background-color:rgb(48,22,12);
  color:white;
  overflow:hidden;
}
h1{
  font-family:"American Typewriter", monospace;
  color:beige;
  text-shadow: 2px 2px brown;
  text-align:center;
}
img{
  display:block;
}
#img-div{
  float:right;
  width:40%;
  padding:10px 10px;
  margin-top:5px;
}
#img-caption{
  text-align:center;
  font-size:0.8em;
}
#img-div img{
  width:80%;
  padding: 5px 5px;
  border-right: 1px solid beige;
  border-bottom: 1px solid beige;
  margin:0;
  max-width:100%;
  height:auto;
  position:center;
}
.divider{
  border-bottom: 2px dotted beige;
}
#title{
  text-align:center;
}
#desclink{
  font-size:0.7rem;
  float:left;
  text-align:right;
  width:50%;
  padding:5px 0;
  margin:10px 0;
}
#tribute-info{
  font-style:italic;
  font-size:0.85rem;
}

#tribute-link{
  font-style:none;
  color:lime;
  text-decoration:none;

}
#tribute-link:hover{
  color:yellow;
}
